@import url('fonts.css');

body {
  background-color: rgb(233, 237, 239);
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  word-wrap: break-word !important;
  word-break: break-word;
  text-rendering: optimizeLegibility;
}

a {
  color: rgb(114, 123, 250);
}

#Chat {
  height: 100%;
}

.chat.message {
  background-color: white;
  border-left-style: solid;
  border-left-width: .4em;
  border-right: .4em solid transparent;
  border-radius: .3em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
  clear: both;
  margin-bottom: 1em;
  padding: 1em .6em 1em 1em;
}

.content.mention .timestamp::before {
  content: '\25C9';
  color: tomato;
}

.chat.message.consecutive {
  margin-top: .1em;
}

.chat.message .timestamp {
  color: rgba(0, 0, 0, 0.4);
  float: right;
  min-width: 3em;
  text-align: right;
}

.content img.emoticon {
  vertical-align: middle;
}

.username {
  font-weight: bold;
  margin-bottom: .5em;
}

.purple,
.status,
.event {
  color: rgba(0, 0, 0, 0.4);
  display: block;
  line-height: 1.5em;
  margin: 0 auto 1em;
  max-width: 50em;
  text-align: center;
}

.purple .timestamp,
.status .timestamp,
.event .timestamp {
  margin-right: .3em;
}

.chat.message.focus {
  border-right-color: rgb(127, 127, 127);
}